*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #01040a;
    overflow-x: hidden;
}

/* Navbar */
.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: transparent;
    backdrop-filter: blur(0);
    border-bottom: 1px solid transparent;
    z-index: 1000;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInDown 1.2s ease-out forwards;
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    -webkit-animation: fadeInDown 1.2s ease-out forwards;
    transition: background-color 0.2s ease-in-out, backdrop-filter 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, backdrop-filter 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out, backdrop-filter 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, backdrop-filter 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out, backdrop-filter 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
}

@keyframes fadeInDown {
    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

.brand {
    display: flex;
    align-items: center;
    gap: 12px;
    transition: all 0.5s ease;
}

.title {
    color: aliceblue;
    font-weight: bold;
    font-size: 25px;
}

.logo > img {
    width: 35px;
    height: auto;
    margin-top: 7px;
    border-radius: 50%;
}

.brand:hover {
    transform: rotate(2deg);
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation > li {
    list-style-type: none;
    margin-left: 20px;
}

.navigation > li > a {
    color: aliceblue;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 6px;
}

.navigation > li > a:hover,
.navigation > li > a.active {
    color: gold;
    transition: all 0.3s ease-in-out;
}

.menu-icon {
    color: aliceblue;
    font-size: 25px;
    margin-top: 10px;
    display: none;
}

.navbar-scrolled {
    border-bottom: 1px solid #3c434d;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    transition: border-bottom 0.5s ease-in-out,background-color 0.5s ease-in-out,backdrop-filter 0.5s ease-in-out;
    -webkit-transition: border-bottom 0.5s ease-in-out,background-color 0.5s ease-in-out,backdrop-filter 0.5s ease-in-out;
    -moz-transition: border-bottom 0.5s ease-in-out,background-color 0.5s ease-in-out,backdrop-filter 0.5s ease-in-out;
    -ms-transition: border-bottom 0.5s ease-in-out,background-color 0.5s ease-in-out,backdrop-filter 0.5s ease-in-out;
    -o-transition: border-bottom 0.5s ease-in-out,background-color 0.5s ease-in-out,backdrop-filter 0.5s ease-in-out;
}
/* Halaman penuh layar */
section {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Home */
.home-section {
    background-image: url("/assets/background/background_campfire.gif");
    background-size: cover;
    background-position: center;
    position: relative;
    color: aliceblue;
}

.home-content {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1.2s ease-out forwards;
    -webkit-animation: fadeInUp 1.2s ease-out forwards;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
}

.home-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.home-section > * {
    position: relative;
    z-index: 1;
}

.home-section h1 {
    font-size: 50px;
    color: gold;
}

.home-section img {
    width: 10%;
    height: auto;
    border-radius: 50%;
}

/* About */

.about-section {
    position: relative;
    color: aliceblue;
    overflow: hidden;
}

.about-content {
    position: relative;
    z-index: 1;
    color: aliceblue;
    padding: 20px;
    background-color: #0d1117;
    border: 1px solid #3c434d;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.about-content h1 {
    background-color: #151c24;
    width: 94%;
    padding: 10px 0;
    margin: 0 auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.content-section {
    position: relative;
    color: aliceblue;
    overflow: hidden;
}

.typed-text {
      font-size: 20px;
      color: aliceblue;
      text-shadow: 0 0 10px gold;
}

/* FITUR RESPOSIF */
@media only screen and (max-width: 768px) {

    .wrapper {
        flex-wrap: wrap;
        align-items: flex-start;
        background-color: rgba(0, 0, 0, 0.9);
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        border-radius: 10px;
        padding: 15px;
    }

    nav ul li {
        margin: 7px 0;
        width: 100%;
        list-style: none;
    }

    nav ul li a {
        display: block;
        padding: 10px;
        color: white;
        font-weight: bold;
        border-radius: 6px;
        border: 1px solid transparent;
    }

    nav ul li a:hover {
        background-color: #0d1117;
        border: 1px solid #3c434d;
        color: gold;
    }

    nav ul.hilang {
        display: none;
    }

    .menu-icon {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .home-section {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 40px;
        padding-right: 40px;
    }

    .home-section h1 {
        font-size: 40px;
    }

    .home-section img {
        width: 100px;
        height: auto;
    }

}
