body {
    margin: 0;
    padding: 0;
    font-family: 'Pixel', sans-serif;
    background: url('assets/background/background.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; /* Hilangkan padding */
    gap: 0; /* Tidak ada jarak antar elemen */
}

.judul-game {
    width: 600px;
    /*Sesuaikanukuranjudul*/margin: -20px 0;
    /*Jaraknegatifantarelemen*/transition: all .5s ease 0s;
    -webkit-transition:;
    -moz-transition:;
    -ms-transition:;
    -o-transition:;
}
.judul-game:hover {
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
}

.curut {
    width: 100px;
    height: 100px;
    margin: -10px 0; /* Jarak negatif antar elemen */
}

.tombol {
    width: 280px;
    cursor: pointer;
    display: block;
    margin: -50px 0; /* Jarak negatif antar tombol */
    transition: transform 0.1s, filter 0.2s;
}

.tombol:hover {
    filter: brightness(1.2);
}

.tombol:active {
    transform: scale(0.95);
}


